/* styles.css */

/* 기본 static 클래스 */
.static {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 2px solid black;
    margin: 10px;
}

/* active 클래스 */
.active {
    width: 10px;
    height: 10px;
    background-color: lightgreen;
}

/* text-danger 클래스 */
.text-danger {
    width: 15px;
    height: 15px;
    border: 2px solid red;
}
